<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kth.baasio"
    android:versionCode="2"
    android:versionName="0.8.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    
</manifest>
